
  .step-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto 20px;
}

.step-indicator .step{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.step-indicator .step.active {
    background:  #0d7a5f;
    color: white;
}

.step-indicator .step-line {
    flex-grow: 1;
    height: 3px;
    background: lightgray;
    transition: background .5s ease;
}

.step-indicator .step-line.active {
    background:  #0d7a5f;
}
