
.main_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 1%;
    padding: 0 20%;
    grid-template-areas:
        "range-slider taskers";
}

.form-step2-description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-top: 1px solid #b1b9c3;
    border-bottom: 1px solid #b1b9c3;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(134,145,157,0.2);

}

.step2-text{
    padding-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#1A1E1D;

}

.range-slider {
    grid-area: range-slider;
    border: 1px solid #b1b9c3;
    background-color: white;
    border-radius: 15px;
}

.range-slider input[type=range] {
  width: 45%;
}

.taskers {
    grid-area: taskers;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.taskers div {
    /* flex: 1 0 21%; */
    width: 100%;
    margin: 5px;
    margin-bottom: 5%;
}

.tasker-card{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 15px;
    border: 1px solid #b1b9c3;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.tasker-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
}

.profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 10px;
}

.tasker-info-container {
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.select-button{
    background-color: #006b54;
    color:white;
    border: 1px solid #3d463d;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.select-button:hover{
    background-color:#043e2d;
}

.reviews-link{
    display: inline-block;
    padding: 0em 1em 0.75em;
    color: #006b54;
    /* position: relative; */
    font-size: 1rem;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.reviews-link:hover,
.reviews-link.is-active {
    color: black;
}
