#mainForm {
    display: grid;
    /* width: fit-content; */
    justify-content: center;
    /* background-color: wheat; */
    border: 1px solid;
    border-radius: 5%;
}

#afterTitle {
    border: solid green;
}

#description {
    border-color: #006b54;
    border-radius: 10%;
    height: 50px;
    width: fit-content;
}

#rating {
    border-color: #006b54;
    border-radius: 5%;
    margin-bottom: 5%;
}

#afterFields {
    border: solid green;
    margin-bottom: 10%;
}

#updateDiv {
    padding: 1%;
}

.updateBtn {
    height: 25px;
    width: 60px;
    cursor: pointer;

}

.updateBtn:hover {
    background-color: #006b54;
    color: white;
    transition-delay: 150ms;
    transition-property: background-color, color;
}
