.modal-container{
    border-radius: 500px;
    padding: 20px;
    background-color: white;
}

.modal-button{
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.delete-button{
    background-color: rgb(255, 130, 130);
}

.keep-button {
    background-color: lightgray;
    color: black;
}

.modal-button:hover{
    opacity: 0.8;
}

.delete-button:hover{
    background-color: rgb(244, 0, 0);
}
.keep-button:hover{
    background-color: darkgray;
}
