.profile-dropdown {
  position: absolute;
  right: 20px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  z-index: 100;

}
.profile-dropdown li{
  background-color: white;
  padding: 10px;
}
.profile-dropdown li:hover{
  background-color: lightgray;
  color: black;
}

.profile-dropdown .text-link {
  color: black;
  text-decoration: none;
}


.hidden {
  display: none;
}

.navContainer li {
  list-style-type: none;
}

.profileButtonContainer {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}

.profileButton {
  /* float: right; */
  /* margin-right: 120px;
  margin-top: 15px; */
}

#navProfileBTTN {
  color: #006b54;
  background-color: transparent;
  border: none;
  size: lg;
}
.logoutBTTN-profile {
  color: #006b54;
  background-color: white;
  border-color: #006b54;
  padding: 5px;
}
.welcome-profile {
  color: #006b54;
  border-bottom: 2px;
}



.text-link {
  color: black;
  text-decoration: none;
}

.logoutBTTN-profile {
  /* background-color: rgba(0, 107, 84, .75); */
  /* padding: 8px; */
  border: 2px solid rgba(0, 0, 0, .75);
  border-radius: 5px;
  margin-left: 15px;
}

.navContainer{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
