.book-task-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    gap: 15.5px;
}

.center-spacing {
    height: 80px;
    background-color: #006b542e;
    /* padding: 20px; */
    width: 100%;
    margin: 20px, 0px, 20px, 0px;
}

.search-filter {
    height: 34px;
    width: 100%;
}

.task-type-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15.5px;
}

.task-type-button {
    color: #006b54;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
}

.task-type-button:hover {
    color: rgb(9, 56, 9);
    border: 1.5px solid rgb(9, 56, 9);
}

.task-type-button-link {
    text-decoration: none;
}

.taskers-recommended-spacing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 80px; */
}

.taskers-recommended-container {
    padding-left: 80px;
    padding-right: 80px;
}

.popular-in-area {
    background-color: rgb(238, 238, 238);
    width: 100%;
    text-align: center;
}

.tasker-recommended-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid grey;
    border-radius: 2px;
}

.top-skills-layout {
    text-align: center;
    color: #006b54;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
}

.top-skill-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px;
}
