.homepage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-task-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-left: 80px;
    padding-right: 80px; */
    gap: 15.5px;
    width: 800px;
}

.center-spacing {
    height: 80px;
    background-color: #006b542e;
    width: 100%;
    margin: 60px 0px 60px 0px;
}

.search-filter {
    height: 34px;
    width: 100%;
}

.task-type-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15.5px;
}

.task-type-button {
    color: #006b54;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
}

.task-type-button:hover {
    color: rgb(9, 56, 9);
    border: 1.5px solid rgb(9, 56, 9);
}

.task-type-button-link {
    text-decoration: none;
}

.taskers-recommended-spacing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.taskers-recommended-container {
    width: 800px;
    padding-bottom: 50px;
}

.popular-in-area {
    background-color: rgb(243, 241, 241);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tasker-recommended-individual {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid grey;
    border-radius: 2px;

}

.tasker-recommended-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.top-skills-layout {
    text-align: center;
    color: #006b54;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
}

.top-skill-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px;
}
