.homepage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-image: url("https://ipfs.io/ipfs/QmbsW9bTGkf62G37eWqVVrjxpKh6TDbC22AH1FZSmMLFuE?filename=splashPhoto6.png");
}

.book-task-spacing-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
}

.moto {
    background-color: white;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
    font-size: 25px;
}

.book-task-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15.5px;
    width: 800px;
    height: 500px;
}



.center-spacing {
    height: 80px;
    background-color: #006b542e;
    width: 100%;
    margin: 60px 0px 60px 0px;
}

.search-filter {
    height: 34px;
    width: 100%;
}

.task-type-buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15.5px;

}

.task-type-button {
    color: #006b54;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
    background-color: rgb(246, 250, 253);
}

.task-type-button:hover {
    color: rgb(9, 56, 9);
    border: 1.5px solid rgb(9, 56, 9);
}

.task-type-button-link {
    text-decoration: none;
}

.taskers-recommended-spacing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.taskers-recommended-container {
    width: 800px;
    padding-bottom: 50px;
}

.popular-in-area {
    background-color: rgb(243, 241, 241);
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tasker-recommended-individual {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid grey;
    border-radius: 2px;

}

.tasker-recommended-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.top-skills-layout {
    text-align: center;
    color: #006b54;
    border: 1.5px solid #006b54;
    border-radius: 7px;
    padding: 10px;
}

.top-skill-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px;
}

.search-error {
    color: red;
    list-style-type: none;
    border: black;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
}
