.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.link-container{

}

.tasks-container{

}

.task-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "task-type task-type"
    "tasker-name tasker-name"
    "tasktitle-date-location tasktitle-date-location"
    "task-button-actions task-button-actions"
    ;
}
