.task-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 50%; */
    margin: 0 auto;
    background-color: #f9fafb
}

@media screen  and (max-width:760px) {
    .link-container{
        align-self: flex-start;
        padding-left: 10px;
    }

}


.tasks-container{

}

.task-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "task-type task-price"
    "tasker-name task-price"
    "tasktitle-date-location tasktitle-date-location"
    "task-button-actions task-button-actions";
    width: 100%;
    margin-bottom: 5em;
    border: 1px solid #b1b9c3;
    border-radius: 4px;
    padding: 10px;
    background-color: white
}

.task-type{
    grid-area: task-type;
    padding-right: 10em;
}

.task-price{
    grid-area: task-price;
    justify-self: end;
    padding-left: 10em;
}

.tasker-name{
    grid-area: tasker-name;
}

.tasktitle-date-location{
    grid-area: tasktitle-date-location;
}

.task-button-actions{
    grid-area: task-button-actions;
    justify-self: end;
}

.task-button-actions button{
    margin-right: 10px
}
