.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 50%; */
    margin: 0 auto;
}

.link-container{

}

.tasks-container{

}

.task-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "task-type"
    "tasker-name"
    "tasktitle-date-location"
    "task-button-actions";
    width: 100%;
}

.task-type{
    grid-area: task-type;
}

.tasker-name{
    grid-area: tasker-name;
}

.tasktitle-date-location{
    grid-area: task-date-location;
}

.task-button-actions{
    grid-area: task-button-actions;
    justify-self: end;
}
