html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.login-signup-root {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-image: url("https://ipfs.io/ipfs/QmRSrrKztpa9ALGK5pVqE9Hsbqp7oBmtFfvUoiDDWg7iHT?filename=moving_cropped.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.login-signup-container {
    background-color: white;
    border-color: white;
    border-radius: 12px;
    margin-top: 149px;
    position: absolute;
}

.login-signup-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    gap: 15px;
    width: 350px;
}

.taskwabbit-title {
    font-size: 60px;
    padding-bottom: 15px;
    color: rgb(10, 38, 22);
}

.signup-button {
    color: white;
    background-color: rgb(0, 110, 86);
    font-size: 17px;
    border: 1.5px rgb(0, 110, 86);
    border-radius: 20px;
    width: 300px;
    height: 35px;
}

button.signup-button:hover {
    background-color: rgb(0, 72, 57);   
}

.login-button {
    color: #006b54;
    background-color: white;
    font-size: 17px;
    border: 1.5px solid #006b54;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: 35px;
}

.agreement-section {
    text-align: center;
    font-size: 12px;
    padding: 15px 10px 0px 10px;
}