#main {
    display: grid;
    justify-content: center;
    /* background-color: antiquewhite; */
}

#mainUser {
    display: grid;
}

#mainUserContent {
    display: grid;
    border: solid white;
    border-bottom-color: #006b54;
    border-left-color: #006b54;
    margin: 1em;
}

#afterUser {
    border: solid green;
}

.singleReview {
    display: grid;
    background-color: white;
    border: solid white;
    border-radius: 5%;
    border-bottom-color: #006b54;
    border-left-color: #006b54;
    /* justify-content: start; */
    justify-items: stretch;
    margin: 1em;
}

#revContent {
    background-color: aqua;
}

#button {
    /* background-color: #006b54; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "delete" "Update";
    justify-content: end;
    justify-items: end;
    width: fit-content;
}

#deleteButton {
    color: aqua;
}
