#main {
    display: grid;
    justify-content: center;
    padding-left: 15px;
    /* background-color: antiquewhite; */
}

#mainUser {
    display: grid;
}

#mainUserContent {
    display: grid;
    border: 1px solid;
    border-radius: 5px;
    /* border-bottom-color: #006b54;
    border-left-color: #006b54; */
    margin: 1em;
    padding: 2%;
}

#afterUser {
    border: solid #006b54;
}

.rev-headers {
    padding-left: 15px;
}
.singleReview {
    display: grid;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    /* border-bottom-color: #006b54;
    border-left-color: #006b54; */
    /* justify-content: start; */
    /* justify-items: stretch; */
    margin: 1em;
    padding: 0.5em;
}

.space10 {
    padding-left: 10px;
}

#revContent {
    padding: 10px;
}

.rev-title {
    color: #006b54;
}
.rev-date {
    display: grid;
    color: #006b54;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-small;
    justify-items: center;
}

.starRating {
    /* display: grid; */
    justify-content: end;
    color: #006b54;
}
#button {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: stretch;
    /* width: fit-content; */
    
}

.deleteReviewButton {
    /* background-color: gray; */
    cursor: pointer;
    padding: 8px;
}
.updateButton {
    /* background-color: gray; */
    cursor: pointer;
    padding: 8px;
}

.updateButton:hover {
    background-color: #006b54;
    color: white;
    transition-delay: 150ms;
    transition-property: background-color, color;
    /* color: rebeccapurple; */
    /* border: 1px #006b54; */
}
